:root{
    --naranja: #FA7F0A;
    --amarilloFuerte: #F5B616;
    --amarillo: #FAE70A;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}
.container {
    width: 100%;
}
.drag-area{
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    width: 50%;
    /* border: dashed 5px; */
    padding: 1rem 0;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(255,255,255,.3);
}
.drag-area button {
    font-family: 'Slabo 27px', serif;
    font-weight: 800;
    /* color: var(--naranja); */
    font-size: 20px;
    border-radius: .3rem;
    padding: .3rem;
    background: rgba(255, 0, 0, 0.2);
    /* background: radial-gradient(circle, rgba(129,224,76,1) 0%, rgba(16,213,62,1) 100%); */
}
.wrapper{
    display: none;
    position: relative;
    margin: 1rem auto;
    max-width: 80%;
    object-fit: contain;
    overflow: hidden;
    background: #fff;
    border: 7px solid #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}
.wrapper .images{
    display: flex;
}
.wrapper .images .img-1, .wrapper .images .img-2{
    width: 100%;
    margin: auto;
    /* object-fit: contain; */
}
.wrapper .images .img-1 {
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 0;
}
.wrapper .images .img-2{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:2;
    /* object-fit: contain; */
}
.wrapper .images .img-2 > *{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:2;
    object-fit: contain;
}
.wrapper .slider{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.wrapper .slider input{
    width: 100%;
    height: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;
}
.slider input::-webkit-slider-thumb{
    height: 486px;
    width: 3px;
    background: none;
    -webkit-appearance: none;
    cursor: col-resize;
}
.slider .lineaAgarre{
    width: 3px;
    height: 100%;
    position: absolute;
    left: 50%;
    pointer-events: none;
}
.slider .lineaAgarre::before,
.slider .lineaAgarre::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
}
.slider .lineaAgarre::before{
    top: 0;
}
.slider .lineaAgarre::after{
    bottom: 0;
}
.slider .lineaAgarre span{
    height: 42px;
    width: 42px;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.slider .lineaAgarre span::before,
.slider .lineaAgarre span::after{
    position: absolute;
    content: "";
    top: 50%;
    border: 10px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    transform: translate(-50%, -50%) rotate(45deg);
}
.slider .lineaAgarre span::before{
    left: 40%;
    border-left-color: #fff;
}
.slider .lineaAgarre span::after{
    left: 60%;
    border-top-color: #fff;
}  
#linkTercero, #linkTercero:visited{
    color: red;
    display:none;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: 5px dashed red;
    margin: 10px;
    padding: 10px;
}
.contenedor-filtros{
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenedor-filtros > *{
    width: 200px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    color: #efefef;
    font-size: 20px;
    font-family: 'Slabo 27px', serif;
    font-weight: 800;
    border-radius: .3rem;
    padding: .5rem;
    margin: 1rem;
    overflow: auto;
}
.contenedor-filtros > *:hover{
}
.contenedor-filtros > * > *{
    position: relative;
}
.contenedor-filtros > * > input::-webkit-slider-thumb{
    height: 40px;
}
.contenedor-filtros > * > input:active{
    cursor: grab;
}
.contenedor-filtros > * > input::before{
    content: "0";
}   
.contenedor-filtros > * > input::after{
    content: "100";
}
.contenedor-filtros > * > input::before,.contenedor-filtros > * > input::after{
    top: 50%;
}
.contenedor-filtros > form > div > input{
    width: 45%;
    padding: 2px;
}
.contenedor-filtros > * >a> button{
    cursor: pointer;
    transition: all .4s;
    padding: 8px;
    border-radius: 10px;
    box-shadow: none;
    border: 2px solid red;
    font-size: .5rem;
    text-decoration: none;
    color: red;
}
.contenedor-filtros > * >a> button:hover{
    background: red;
    color: white;
}
.contenedor-filtros > * >a> button:active{
    border-radius: 10px;
    border-style: none;
}
.contenedor-filtros > form{
    display: none;
}